
body{
	padding:0;
	margin:0;
    background:rgba(255, 255, 255, 0.88);
	font-family: 'Open Sans', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
font-family: 'Kotta One', serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- main --*/
	
	.header h1{
        background-color: #b70f0a;
        padding: 25px 50px;
        color: #fec63d;
        font-family: Brush Script MT;
        font-size:36px;
        margin: auto;
        }
    .header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fec63d;
    }

    .header li {
        float: left;
    }

    .header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin-left: 50px;
    }

    .header li a:hover {
        background-color: #b70f0a;
    }
    
        
    .header div{
        height: 50px;   
        color: #fec63d;

        }
     .header h1 button{
     	background-color: #fec63d;
		border: 10px #fec63d;
		border-radius: 3px;
		color: #b70f0a;
		padding: 5px 10px;
		}

.content{
	padding:50px 0;
}
.content h1{
    color: #b70f0a;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main{
    width: 45%;
    margin: 45px auto;
    background:rgba(255, 255, 255, 0.88);
    padding: 30px 30px;
}
.main h2 {
    color: #000000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
}

.Movie{
	margin-top: 70px;
	margin-left:120px;
	margin-right: 120px;
	}
.Video{
	padding-top : 20px;
}
.text{
	padding: 25px;
	color: #fec63d;
	font-family: Brush Script MT;
	font-size:60px;
	margin: auto;
	padding-left:150px;
}
.text2{
	padding-top: 30px;
	padding-left:400px;
	padding-right:400px;
}
	
}
