    h1{
        background-color: #b70f0a;
        padding: 25px 50px;
        color: #fec63d;
        font-family: Brush Script MT;
        font-size:36px;
        margin: auto;
        }
		
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fec63d;
    }

	p{
		position: relative;
		margin-top: 300px;
	}
		
	
    li {
        float: left;
		margin-top:0px;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin-left: 50px;
		margin-top:0px;
    }

    li a:hover {
        background-color: #b70f0a;
    }
    
    .ptitlemd{
		color: #b70f0a;
        margin-top: 0px;
		font-size: 50pt;
		margin-left: 15%;
		font-family: Brush Script MT;
        }
		
	.ptitlel{
		color: #b70f0a;
        margin-top: 30px;
		font-size: 50pt;
		font-family: Brush Script MT;
		margin-left: 35%;
        }	
		
	.forml{
		margin-left: 50px;
		margin-top: 0px;
	}
		

        
    div{
        height: 50px;   
        color: #fec63d;
        }

	div.Video{
	margin-top:50px;
	margin-left:30%;
	}
	
	.tombol{
	background-color:	#fec63d;
	 Margin-left : 75%;
	}
    
	.tombolh{
		margin-left: 950px;
		top: 40px;
		right: 50px;	
		background-color: #fec63d;
		border: 10px #fec63d;
		border-radius: 3px;
		color: #b70f0a;
		padding: 5px 10px;
	}	
	
	
	.tombolh1{
		position: float;
		top: 40px;
		right: 150px;	
		left: 80px;	
		background-color: #fec63d;
		border: 10px #fec63d;
		border-radius: 3px;
		color: #b70f0a;
		padding: 5px 20px;
	}	
	
	.home1{
		margin-top: 70px;
		margin-left: 120px;
	}
	
	.home2{
		margin-top: 70px;

		position: fixed;
	
	}
	
    .login1{
    background-color: #FFCC00;
    color: red;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    border-radius: 8px;
    Margin-left : 500px;


    }
    .register{
        background-color: #FFCC00;
        color: red;
        font-weight: bold;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 300px;
        border-radius: 8px;
        Margin-left : 500px;
    }

    .dropdown {
    position: relative;
    display: inline-block;
}

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .home1{
    margin-top: 70px;
    margin-left: 120px;
    }
    .home2{
        margin-top: 70px;

        position: fixed;
    
    } 
input[type=text] {
    width: 300px;
    padding: 10px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 1px solid yellow;
    Margin-left : 500px;
    margin-top: 00px;
}
input[type=password]{
    width: 300px;
    padding: 10px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 1px solid red;
    Margin-left : 500px;
}


.header h1{
        background-color: #b70f0a;
        padding: 25px 50px;
        color: #fec63d;
        font-family: Brush Script MT;
        font-size:36px;
        margin: auto;
        }
    .header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fec63d;
    }

    .header li {
        float: left;
    }

    .header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin-left: 50px;
    }

    .header li a:hover {
        background-color: #b70f0a;
    }
    
        
    .header div{
        height: 50px;   
        color: #fec63d;

        }
     .header h1 button{
     	background-color: #fec63d;
		border: 10px #fec63d;
		border-radius: 3px;
		color: #b70f0a;
		padding: 5px 10px;
		}

.content{
	padding:50px 0;
}
.content h1{
    color: #b70f0a;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main{
    width: 45%;
    margin: 45px auto;
    background:rgba(255, 255, 255, 0.88);
    padding: 30px 30px;
}
.main h2 {
    color: #000000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
}

.Movie{
	margin-top: 170px;
	margin-left:120px;
	margin-right: 120px;
	}

.text{
	padding: 25px;
	color: #fec63d;
	font-family: Brush Script MT;
	font-size:60px;
	margin: auto;
	padding-left:150px;
}
.text2{
	padding-top: 30px;
	padding-left:400px;
	padding-right:400px;
}


